[Unit]
Description=Darkice Service
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/darkice -c /opt/tracks-stat/darkice.cfg
Restart=on-failure
RestartSec=20s
User=root

[Install]
WantedBy=multi-user.target
